.paper {
    margin: 50px 90px 10px 60px;
    width: 50%;
    border: 2px solid #a6a7a8;
    padding: 10px;
}
.paper2 {
    margin: 60px 100px 50px 70px;
    width: 50%;
    border: 2px solid #a6a7a8;
    padding: 10px;
}
.icon {
    width: 3%;
    height: 3%;
    padding: 3px;
}

.homeicon {
    width: 15%;
    height: 15%;
    padding: 3px;
}
#tall1{

    font-family: inherit;
    font-size: larger;
    font-weight: bolder;
}
#tall{
    margin: 10px 60px 50px 210px;
    width: 390px;
    border: 2px solid #a6a7a8;
    padding: 20px;
}
#cen{
    font-family:cursive;
    font-size: large;
}
header li {
    display: inline-block;
}
header ul {
    white-space:nowrap
}
.ali {
    margin: auto;
    width: 80%;
    text-align: center;
}

.whole {

    margin: 100px 10px 60px 10px;
    border: 1px solid #cbb9d2;
    float: left;
    width: 300px;
    height: 250px;
    display: inline-block; 
    vertical-align: top;
}
#new img {

}
#whole2 {

}
#gallery:hover {
    border: 1px solid #777;
}

#gallery {
    margin: 100px 10px 60px 90px ;
    border: 1px solid #777;
    float: left;
    width: 300px;
    height: 250px;
    padding: 0px;
    display: inline-block; 
    vertical-align: top;
    
}

.core{
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

.codeine{
    display: block;
    text-indent: 105%;
    white-space: nowrap;
    color: grey;
}
.but{
    background-color:#F5B041    ;
}

#new:hover {
    border: 1px solid #777;
}
#new{
    
    margin: 100px 10px 60px 10px;
    border: 1px solid #777;
    float: left;
    width: 300px;
    height: 250px;
    display: inline-block; 
    vertical-align: top;
    
}
.lki
{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.lkie {
    margin-top: 4px;
}
.pro-btn
{
    padding-top:140px;
    
}
.seeprofile a
{
    text-align: center;
    display: block;
    margin: 0 auto;
}
.followtitle
{
    padding-right: 75px;
    color: grey;
}
.post_len
{
    padding-left: 25px;
    color: black;
}
.follen
{
    padding-left: 165px;
   
}
.wip{
    margin-top: 0px;
}
.count
{
    font-size: 1.9rem;
   
}

.homeimg {
    margin: 0px 10px 60px 0px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    height: 250px;
    display: inline-block; 
    vertical-align: top;
    
}
.bad{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.bad:hover {
    border: 1px solid #777;
}

.bad img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}
#links {
    float: right;
}

footer
{
    clear: both;
}

#gram {
    font-family: 'Lobster', cursive;
}


.proc {
    border: 1px solid #ccc;
}

.proc:hover {
    border: 1px solid #777;
}

.proc img {
    width: 100%;
    height: auto;
}

.desc1 {
    padding: 15px;
    text-align: center;
}

.proc {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

#gram1 {
    color: black;
    font-family: 'Lobster', cursive;
}

.imageView
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap:  0px;
    margin-right: 10px;
}
.imageView img{
    
    width: 350px;
    height: 200px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-radius:10px;
    padding-right: 0px;
}

.container1{
    border: 1px solid #339966;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: #339966;
    height:60%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container1 #img{
    align-content: center;
    border:1px solid white;
    height:200px;
    width:200px;
    border-radius: 50%;
    margin: auto;
}

#red img{
    align-content: center;
    border-radius: 50%;
    height:230px;
    width:230px;
    margin: auto;
}

h1{
    color: white;
}

#user{
    color: #e0ebeb;
    font-family: symbol;
}

.container2{
    text-align: center;
    border: 1px solid #e0ebeb;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    background-color: white;
    height: 40%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;

}

#pa{
    color: #c2d6d6;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 25px;
}

#para{
    padding-bottom: 2rem;
}

.labels{
    font-size: x-large;
    color:#c2d6d6;
}

#button{
    background-color: #33ff33;
    color: white;
    border-top-left-radius: 1px;
    padding: 9px 50px;
    border-radius: 12px;
    
}

#button{
    padding-top: 2rem;
}

#left {
    float:left;
    width:270px;
}

#center {
    display: inline-block;
    width:100px;
}

#right {
    float:right;
    width:270px;
}

#btn {
  border: 2px solid purple;
  color: teal;
  background-color: white;
  padding: 8px 8px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}



.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.sidenav {
    height: 100%;
    width: 400px;
    float:right;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    padding-left: 50px;
}

.sidenav a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#wrap {
    width: 64em;
    margin: 0 auto;
    max-width: calc(100% - 4em);
    padding: 4em 0 2em 0;
}
.boxout{
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 33rem;
    box-shadow: 0px 2px 8px grey;
    border-radius: 3px;
}
.sub{
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
}
.cap
{
    text-align: left;
    font-family: "Verdana", Sans-serif;
    color: grey;
    padding-left:10px;
    padding-top: 8px;
}
.liker{
    
    margin-top: 4px;
}

.like
{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.pro-style
{
    color: white !important; 
    width: 20rem; 
    height: 3rem;
    font-size: 1.9rem;
   
}
.view-btn
{
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 7px;
    color: white;
}
.likey {
    margin-left: -8px;
    display: inline-block;
}
.profiles-container
{
    width: 100%;
    height: 300px;
}
.post_pic
{
    width: 15rem;
    height: 100%;
}
#vis img{
    width:150px;
    height:100px;
}
.border-style
{
    border-radius: 3px;
    border-top: 3px #007bff solid;
}
.liket {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 8px;
    padding-left: 20px;
}
.dark {
    background-color: transparent;
    border: 0;
    padding: 8px;
    padding-left: 320px;
}
.nohover a:hover
{ 
    background-color: transparent; 

}


